/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
}
/* GRID LAYOUT */


.btn-add {
    background-color: var(--color-primary);
    padding: 1rem;
    /* height: $height; */
    /* line-height: $height; */
    border-radius: 10px;

    transform: translateY(-50%);

    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    p {
        font-weight: 700;
    }
    
    /* will-change: filter; */
    transition: all .3s ease-in-out;

    &:hover {
        filter: drop-shadow(0 0 8px var(--color-primary)) brightness(1.1);
    }
    &:active {
        filter: drop-shadow(0 0 8px var(--color-primary)) brightness(0.9);
    }

    &[disabled] {
        opacity: 0.7;
    }
}

/* .btn-add-secundary {
    background-color: transparent;
    border-radius: 10px;
    padding: .4rem .5rem .4rem .1rem;
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 3px;

    transition: all .4s ease-in-out;

    ion-icon {
        background-color: var(--color-primary);
        padding: 1px;
        color: var(--color-bg-2);
        font-size: 2.1rem;
        border-radius: 50%;

        transition: all .3s ease-in-out;
    }

    &:hover {
        background-color: var(--color-primary);
        color: #fff;

        ion-icon {
            background-color: transparent;
            transform: rotate(90deg);
            color: #fff;
        }
    }
}

.btn-close {
    line-height: 0;
    height: fit-content;
    border: 2px solid var(--color-text);
    border-radius: 6px;

    transition: all .2s ease-in-out;

    ion-icon {
        width: 2rem;
        height: 2rem;
    }

    &:hover {
        background-color: var(--color-text);
        color: #fff;
    }            
} */

.btn-infos {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--color-text);
    border-radius: 50%;
    font-size: 1.4rem;
    /* font-weight: 600; */
}


/* ANIMATIONS */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fadeIn {
    animation: fadeIn .5s ease;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}
.fadeInRight {
    animation: fadeInRight .5s ease;
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInTop {
    animation: fadeInTop .5s ease;
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInBottom {
    animation: fadeInBottom .5s ease;
}

@keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(.5);
    }
    /* 100% {
      opacity: 1;
      transform: translateY(0%);
    } */
}
.fadeInZoom {
    animation: fadeInZoom .6s ease;
}

@keyframes show {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
.show {
    animation: show .4s ease-in-out;
}

@keyframes showSidebar {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.showSidebar {
    animation: showSidebar .3s ease-in-out;
}

@keyframes animateRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ANIMATIONS */
