body:has(.Modal) {
    overflow-y: hidden;
}

/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
}
/* GRID LAYOUT */


.btn-add {
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    border-radius: 10px;
    /* height: $height; */
    /* line-height: $height; */

    font-size: 1.8rem;
    color: var(--color-w);
    
    p {
        font-weight: 900;
    }
    
    /* will-change: filter; */
    transition: all .3s ease-in-out;

    &:hover {
        filter: drop-shadow(0 0 8px var(--color-primary)) brightness(1.1);
    }
    &:active {
        filter: drop-shadow(0 0 8px var(--color-primary)) brightness(0.9);
    }

    &[disabled] {
        /* opacity: 0.7; */
        background-color: #fdc0aa;
    }
}

.btn-disponivel {
    background-color: var(--color-w);
    border: 1px solid var(--color-text);
    border-radius: 10px;

    font-family: var(--font-numbers), monospace;
    font-size: 1.6rem;
    font-weight: 500;

    &.active {
        border: none;
        background-color: var(--color-primary);
        color: var(--color-w);
    }
}
.btn-reservado {
    background-color: #faf281;
    /* border: 1px solid var(--color-text); */
    border-radius: 10px;

    font-family: var(--font-numbers), monospace;
    font-size: 1.6rem;
    font-weight: 500;

    &.active {
        border: none;
        background-color: var(--color-primary);
        color: var(--color-w);
    }
}
.btn-comprado {
    background-color: #97f894;
    /* border: 1px solid var(--color-text); */
    border-radius: 10px;

    font-family: var(--font-numbers), monospace;
    font-size: 1.6rem;
    font-weight: 500;

    &.active {
        border: none;
        background-color: var(--color-primary);
        color: var(--color-w);
    }
}

.btn-infos, .btn-cart {
    /* line-height: 0; */
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        font-size: 4.2rem;
    }
}

.btn-suport {
    background-color: #00D757;
    border-radius: 5px;
    color: var(--color-w);
    padding: .5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    /* width: 100%;
    max-width: fit-content; */

    line-height: 0;
    font-weight: 600;
}



/* ANIMATIONS */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fadeIn {
    animation: fadeIn .5s ease;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}
.fadeInRight {
    animation: fadeInRight .5s ease;
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInTop {
    animation: fadeInTop .5s ease;
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInBottom {
    animation: fadeInBottom .5s ease;
}

@keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(.5);
    }
    /* 100% {
      opacity: 1;
      transform: translateY(0%);
    } */
}
.fadeInZoom {
    animation: fadeInZoom .6s ease;
}

@keyframes show {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
.show {
    animation: show .4s ease-in-out;
}

@keyframes showSidebar {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.showSidebar {
    animation: showSidebar .3s ease-in-out;
}

@keyframes animateRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ANIMATIONS */
