:root {
    /* --color-primary: #fa7e3b; */
    /* --color-primary: #fa813b; */
    /* --color-primary: #eb540e; */
    /* --color-primary: #ff7a3c; */
    /* --color-primary: #fc804f; */
    /* --color-primary: #fd885a; */
    /* --color-primary: #fd805a; */
    /* --color-primary: #C46237; */
    /* --color-primary: #ce6133; */
    --color-primary: #e6713f;
    /* --color-secundary: #ffd8b3; */
    /* --color-secundary: #fdb28f; */
    /* --color-secundary: #f8bfa4; */
    /* --color-secundary: #f8bfa4; */
    /* --color-secundary: #f8b293; */
    --color-secundary: #F4CFBF;
    
    --color-bg-1: #fff;
    --color-bg-2: #d7ecc5;
    --color-bg-3: #a8a8ad;
    --color-text: #222121;
    
    --color-w: #fff;
    --color-b: #000;
    --color-red: #E94D4D;
    --color-ciano: #0AA699;

    --gray-100: #F4F4F4;
    --gray-200: #ECECEC;
    --gray-300: #d5d3d2;
    --gray-400: #656362;
    --gray-600: #323238;
    --gray-700: #2D2C29;
    --gray-800: #202024;
    --gray-900: #121214;

    --font-main: "Nunito";
    --font-headers: "Lilita One";
    --font-numbers: 'Azeret Mono';

    /* color-scheme: light dark; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

img {
    display: inline-block;
    width: 100%;
    max-width: fit-content;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

ul, ol, li {
    list-style: none;
}

button {
    background-color: transparent;
    display: inline-block;
    color: var(--color-text);
    cursor: pointer;
}
/* RESET */


/* GLOBAL */
html {
    scroll-behavior: smooth;

    font-size: 62.5%; /* Pra usar rem divisivel por 10 */
    @media screen and (max-width: 480px) {
        font-size: 55%;
    }
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    background-color: var(--color-bg-1);
    font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
    color: var(--color-text);

    /* overflow-x: hidden; */
}
body, input, textarea, button, select, a {
    font-family: var(--font-main), sans-serif;
}

[disabled] {
    /* opacity: 0.6; */
    cursor: not-allowed;
}

.label-input:has([required])::after {
    content: ' *';
    color: red;
    font-size: 14px;
}
/* GLOBAL */